/* GLOBAL */
* {
    box-sizing: border-box;
}

/* LAYOUT */

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2em;
}

/* TYPOGRAPHY */
p {
    color: white;
    font-family: "Poiret One", sans-serif;
}

h1, a {
    font-family: "Spirax", sans-serif;
}

/* COMPONENTS */
.nav-menu {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3em;
    background-color:rgba(36, 10, 10, 0.7);
}

.nav-menu a {
    font-size: 2.5rem;
    color: white; 
    margin: 0.5em 0;
    text-decoration: none;
    font-weight: 500;
}

.section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: content-box;
}

#hot {
    background-image: url(assets/hot.jpg);
    border-bottom: 1.5em solid darkred;
}

#juicy {
    background-image: url(assets/juicy.jpg);
    border-bottom: 1.5em solid darkred;
}

#cosy {
    background-image: url(assets/cosy.jpg);
}

.section__heading {
    font-size: 6rem;
    color: darkred;
    font-weight: 700;
}

.section__text-1,
.section__text-2 {
    background-color: rgba(139, 0, 0, 0.7);
    padding: 0.7em 0;
    font-size: 1.5rem;
    width: 60%;
    text-align: center;
}

.section__text-1 {
    align-self: flex-start;
    margin-left: 10%;
}

.section__text-2 {
    align-self: flex-end;
    margin-right: 10%;
}

.section-menu {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1em 3em;
}

.section-menu-item {
    display: flex;
    justify-content: space-between;
}

.section-menu-item__text-1,
.section-menu-item__text-2 {
    color: white;
    font-size: 1.4rem;
    font-family: "Poiret One", sans-serif;
}

