/* GLOBAL */
* {
    box-sizing: border-box;
}

.border {
    border: 1px solid black;
}

/* LAYOUT */

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2em;
}

/* TYPOGRAPHY */
p {
    color: white;
}

/* COMPONENTS */
.nav-menu {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3em;
}

.nav-menu a {
    font-size: 2rem;
    color: white; 
}

.section__heading {
    font-size: 5rem;
    color: darkred;
}

.section__text-1,
.section__text-2 {
    background-color: rgba(139, 0, 0, 0.7);
    padding: 0.5em 3em;
    font-size: 2rem;
}

.section-menu {
    width: 40em;
    background-color: rgba(61, 61, 61, 0.7);
    padding: 1em 3em;
}

.section-menu-item {
    display: flex;
    justify-content: space-between;
}

.section-menu-item__text-1,
.section-menu-item__text-2 {
    color: white;
    font-size: 2rem;
}

/* COMPONENTS - Hot */

.hot {
    background-image: url(assets/hot.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}